/* MENU LATERAL - SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #000000;
    padding: 12px;
}

.sidebar .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar .logo img {
    width: 80px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar nav ul li .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

/* MENU LATERAL - ÁREA DA BIBLIOTECA */
.biblioteca{/* Dimensão da Área */
    /* Dimensionamento */
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    margin-top: 10px;

    /* Formatação de texto */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;

}


.biblioteca .biblioteca__content{ /* Dimensão Interna */
    /* Dimensionamento */
    display: flex;
    justify-content: space-between;
}


.biblioteca .biblioteca__button{/* Dimensão Botão */
    /* Dimensionamento */
    display: flex;
    margin-right: 10px;
    background-color: transparent;
    border: 0;
    padding: 20px 10px;
    
    /* Formatação de texto */
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.biblioteca .biblioteca__button:hover{/* Efeito do botão */
    color: #ffffff;
}

.biblioteca .biblioteca__button .fa{/* Dimensão Ícone do Botão */
    /* Dimensionamento da Classe dos ícones*/
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.biblioteca .biblioteca__content .fa-plus{
    /* Dimensionamento do ícone "+"*/
    margin: 25px 10px;
}

.biblioteca .biblioteca__content .fa-plus:hover{
    color: #ffffff;
    box-shadow: 0 0 10px rgba(179, 179, 179, 0.5);
    border-radius: 50%;
}

.playlist{/* Dimensão da Área */
    /* Dimensionamento */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;

    /* Formatação de texto */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}


.playlist .playlist__content{ /* Dimensão Interna */
    /* Dimensionamento da Área*/
    display: flex;
    flex-direction: column;
}

.playlist__content .text{/* Formatação do Texto */
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.playlist__content .title{/* Formatação do título */
    font-weight: 700;
}

.playlist__content .subtitle{/* Formatação do subtitulo */
    font-weight: 500;
    font-size: 12px;
}

.playlist__content .playlist__button{/* Formatação do Botão */
    /* Dimensionamento do Botão */
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: none;
    border: 0;
    margin-top: 12px;
    padding: 10px;
    width: 115px;

    /* Formatação do Texto */
    background-color: #fff;
    color: #000000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

.podcast{/* Dimensão da Área */
    /* Dimensionamento */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    margin: 8px 0;
    padding: 16px 20px;

    /* Formatação de texto */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}

.podcast .podcast__content{ /* Dimensão Interna */
    /* Dimensionamento da Área*/
    display: flex;
    flex-direction: column;
}

.podcast__content .text{/* Formatação do Texto */
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.podcast__content .title{/* Formatação do título */
    font-weight: 700;
}

.podcast__content .subtitle{/* Formatação do subtitulo */
    font-weight: 500;
    font-size: 12px;
}

.podcast__content .podcast__button{/* Formatação do Botão */
    /* Dimensionamento do Botão */
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: none;
    border: 0;
    margin-top: 12px;
    padding: 10px;
    width: 115px;

    /* Formatação do Texto */
    background-color: #fff;
    color: #000000;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

.sidebar .cookies{/* Dimensionamento da Área*/
    margin: 25px 20px;
}

.sidebar .cookies a{
    /* Formatação do Texto */
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;

}

.sidebar .cookies a:hover{
    /* Formatação do Efeito */
    text-decoration: underline;
}

.languages .languages__button{/* Dimensionamento do Botão */
    /* Dimensionamento do Botão */
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;

    /* Formatação do Texto */
    color: #fff;
    font-weight: bold;
}

/* DESAFIO AULA 2
Montar o footer/montar o rodapé usando o 
gradiente, botão e formatação do texto 
*/

.rodape{/* Dimensionamento da Área*/
    /* Dimensão da Área */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.rodape .rodape__content{
    flex-shrink: 0;
}

.rodape .rodape__title{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.rodape .rodape__subtitle{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.rodape button{
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}